
@media (max-width: 600px) {
    .container {
        width: 50%;
        height: 35%;
    }

    .container1 h3 {
        margin-bottom: 40px;
        font-size: 20px;
        
    }

    .label-Weight, .label-height {
        flex-direction: column;    
        margin: 5px;
        font-size: 20px;
    }

    #Weight, #height {
        width: 200px;
        margin: 10px;
    }

    .container3 h3 {
        font-size: 25px;
        margin-top: 25px;
    }
    
    .btn-result {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    
    }
    
}