
body {
    text-align: center;
    background: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;

}

/*container*/

.container {
    position: absolute;
    color: white;
    width: 30%;
    height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    padding: 20px;
}

/*container1*/

.container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.container1 h3 {
    margin-top: 50px;
    font-size: 25px;
}

button {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(87, 194, 194);
}

/*container2*/

.container2 {
    display: none;
    flex-direction: column;
    align-items: center;
}

.container2 h3 {
    margin: 0;
    font-size: 25px;
}

hr {
    width: 95%;
}

.label-Weight, .label-height {
    display: flex;
    align-items: center;    
    width: 90%;
    margin: 10px;
    font-size: 20px;

}

#Weight, #height {
    width: 110px;
    margin: 5px;
    margin-left: auto;
}

.container2 button {
    margin-top: 10px;
}

/*container3*/

.container3 {
    display: none;
    flex-direction: column;

}

.btn-result {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-result1 {
    width: 40%;
    margin-right: 10px;
}